/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

p {
  text-align: center;
}

.form-contact {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}
.form-contact .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
