{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static '/certify/styles.css' %}">

<div class="container top-container marketing">
  <div class="pricing-header px-3 pb-md-4 mx-auto text-center">
   {% if cert_head.0 %}
    <h1 class="display-4">{{cert_head.0.title_text}}</h1>
  </div>
  <div>
    <p class="text-center">{{cert_head.0.subtitle_text}}</p>
    <p class="text-center">{{cert_head.0.main_text}}</p>
    {% endif %}
  </div>
  <!-- START THE FEATURETTES -->
  {% for cert_i in cert_cont %}
     <div class="row featurette" id="certify{{forloop.counter}}">
       <div class="col-md-7 order-md-2">
         <p><b>{{cert_i.title_text}}</b>: {{cert_i.main_text}}</p>
       </div>
       <div class="col-md-3 order md-1">
         {% if cert_i.image %}
         <img class="featurette-image img-fluid mx-auto" src="{{cert_i.image.url}}" alt="Generic placeholder image">
         {% endif %}
       </div>
     </div>
     {% if not forloop.last %}
     <hr class="featurette-divider">
     {% endif %}
  {% endfor %}
  <!-- /END THE FEATURETTES -->
</div><!-- /.container -->
{% endblock %}
